<mat-card class="card">
    <h1 matSubheader>Adding question of {{title}}</h1>
    <mat-card-content>
       <div class="bootstrap-wrapper">
          <div class="container">
            <form (ngSubmit)="formSubmit()">
                <mat-form-field class="w100" appearance="outline">
                    <mat-label>Content</mat-label>
                    <textarea type="text" matInput placeholder="Enter here" rows="5" [(ngModel)]="question.content" name="content"></textarea>
                </mat-form-field>
                    <div class="row">
                        <div class="col-md-6">
                                <mat-form-field class="w100" appearance="outline" >
                                    <mat-label>Option1</mat-label>
                                    <input type="text" matInput placeholder="Enter here" [(ngModel)]="question.option1" name="option1" required>
                                </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="w100" appearance="outline">
                                <mat-label>Option2</mat-label>
                                <input type="text" matInput placeholder="Enter here" [(ngModel)]="question.option2" name="option2" required>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                                <mat-form-field class="w100" appearance="outline">
                                    <mat-label>Option3</mat-label>
                                    <input type="text" matInput placeholder="Enter here"[(ngModel)]="question.option3" name="option3" >
                                </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="w100" appearance="outline">
                                <mat-label>Option4</mat-label>
                                <input type="text" matInput placeholder="Enter here" [(ngModel)]="question.option4" name="option4" >
                            </mat-form-field>
                        </div>
                    </div>
                <mat-form-field class="w100" appearance="outline">
                    <mat-label>Select Option</mat-label>
                    <mat-select [(ngModel)]="question.answer" name="answer">
                        <mat-option *ngIf="question.option1" [value]="question.option1">{{question.option1}}</mat-option>
                        <mat-option *ngIf="question.option2" [value]="question.option2">{{question.option2}}</mat-option>
                        <mat-option *ngIf="question.option3" [value]="question.option3">{{question.option3}}</mat-option>
                        <mat-option *ngIf="question.option4" [value]="question.option4">{{question.option4}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="container text-center">
                    <button mat-raised-button color="primary">Add question</button>
                </div>
            </form>
          </div>
        </div>
    </mat-card-content>
</mat-card>