<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">

            <div class="col-md-6" >
             
               <img src="../../../assets/register.png" alt="resgister_img" class="resgiterimg">
            </div>
            <div class="col-md-6  text-center">
                <mat-card class="card">
                
                <h1>SIGNUP</h1>

                <form (ngSubmit)="formSubmit()" >
                    <!-- username -->
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>username</mat-label>
                        <input type="text" required matInput placeholder="Username" [(ngModel)]="user.username" name="username" >
                    </mat-form-field>

                    <!-- firstname -->
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>first name</mat-label>
                        <input type="text" required matInput placeholder="first name" [(ngModel)]="user.firstName" name="firstName">
                    </mat-form-field>

                    <!-- lastname -->
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>last name</mat-label>
                        <input type="text" required  matInput placeholder="Last name" [(ngModel)]="user.lastName" name="lastName">
                    </mat-form-field>

                    <!-- email -->
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Email</mat-label>
                        <input type="email" required matInput placeholder="Email" [(ngModel)]="user.email" name="email">
                    </mat-form-field>

                    <!-- password -->
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Password</mat-label>
                        <input type="password" required matInput placeholder="Password" [(ngModel)]="user.password" name="password">
                    </mat-form-field>

                    <!-- phone no -->
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Phone</mat-label>
                        <input type="number" required matInput placeholder="Phone" [(ngModel)]="user.phone" name="phone">
                    </mat-form-field>
                    
                    <!-- user type -->
                        <div class="row ">
                            <div class="col-md-4 mt20">
                                USER TYPE
                            </div>
                            <div class="col-md-4 mt20">
                                <input type="radio" name="role" [(ngModel)]="userType.role" [value]="userType.admin" >ADMIN
                                
                            </div>
                            <div class="col-md-4 mt20">
                                <input type="radio" name="role" [(ngModel)]="userType.role"  [value]="userType.normal" >STUDENT
                            </div>
                          </div>
                  
                    <br>
                    <div class="container">
                        <button type="submit" mat-raised-button color="primary" class="mr-4">Submit</button>
                        <button type="reset" mat-raised-button color="accent">Clear</button>
                    </div>
                </form>
                </mat-card>
              
            </div>
        </div>
    </div>
</div>
