<div class="bootstrap-wrapper">
    <div class="container-fluid" >
        <div class="row text-center ">
            <div class="col-md-5 h100">
                <div class="data">
                    <div class="header">Pariksha</div>
                    <div class="content">Feel confident conducting secure digital exams with software made by teachers who understand the realities of the classroom.</div>
                    <button mat-raised-button color="primary" class="loginbtn" [routerLink]="'/login'">Login</button>
                </div>
            </div>
            <div class="col-md-7 h100">
                <img  src="../../../assets/home1.png" alt="login-img" class="homeimg">
            </div>
        </div> 
        <div class="row text-center ">
            <div class="col-md-5 h100">
                <img  src="../../../assets/admin.png" alt="login-img" class="homeimg">
            </div>
            <div class="col-md-7 h100">
                <div class="subdata">
                    <div class="subheader">For Teacher</div>
                    <div class="subcontent">Create Test in just few click and get the performace result of every student who is assigned for you. For Creating Test You have to first register as a admin.</div>
                    
                </div>
            </div>
        </div>  
        <div class="row text-center ">
            <div class="col-md-5 h100">
                <div class="subdata">
                    <div class="subheader">Get Result Instant</div>
                    <div class="subcontent">Test will open when student click on start button and timer will start one time is up or if student click on submit button. The Result will shown instantly.</div>
                </div>
            </div>
            <div class="col-md-7 h100">
                <img  src="../../../assets/result.png" alt="login-img" class="homeimg">
            </div>
        </div>  
        
        <div class="row text-center footer">
            <div class="col-md-4 offset-md-4">
                <p style="margin: 10px;">
                    Copyright © 2022 | Devloped by Nian Devloper
                </p>
            </div>
        </div>
    </div>
</div>
