<div class="bootstarp-wrapper">
    <h1 matSubheader>Questions of {{title}}</h1>

    <div class="container text-center">
        <button mat-fab color="primary" [routerLink]="'/admin/quiz/add-question/'+qid+'/'+title"><mat-icon>add</mat-icon></button>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
               <mat-card *ngFor="let q of questions ; let i=index" class="mt20">
                  <mat-card-content>
                        <b>Q{{i+1}} )</b><span class="ml20">{{q.content}}</span>
                        <div class="container-fluid">
                            <div class="row mt10" >
                                <div class="col-md-6">
                                    <b>1)</b><span class="ml20">{{q.option1}}</span>
                                </div>
                                <div class="col-md-6">
                                    <b>2)</b><span class="ml20">{{q.option2}}</span>
                                </div>
                            </div>
                            <div class="row mt10">
                                <div class="col-md-6">
                                    <b>3)</b><span class="ml20">{{q.option3}}</span>
                                </div>
                                <div class="col-md-6">
                                    <b>4)</b><span class="ml20">{{q.option4}}</span>
                                </div>
                            </div>
                        </div>
                        <mat-divider></mat-divider>
                        <div class="mt10">
                          <b>Correct Answer : </b><span>{{q.answer}}</span>
                        </div>
                  </mat-card-content>

                  <mat-card-actions>
                    <button mat-raised-button color="primary" class="mr20" (click)="deletQuestion(q.quesId)"><mat-icon>delete</mat-icon></button>
                    <button mat-raised-button color="primary"><mat-icon>edit_note</mat-icon></button>
                  </mat-card-actions>
               </mat-card>
            </div>
        </div>
    </div>
    
</div>
